<span class="back material-icons" (click)="goBack()"> arrow_back</span>
<form>
    <p>
        <mat-form-field>
            <mat-label>Titolo</mat-label>
            <input matInput type="text" name="title" [(ngModel)]="title">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Descrizione</mat-label>
            <input matInput type="text" name="description" [(ngModel)]="description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <input matInput type="text" name="category" [(ngModel)]="category">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Prezzo</mat-label>
            <input matInput type="number" name="price" [(ngModel)]="price">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Impiegato</mat-label>
            <input matInput type="text" name="employee" [(ngModel)]="employee">
        </mat-form-field>
    </p>
    <div class="center">
        <span class="material-icons click" (click)="add()">done</span>
    </div>
</form>