table {
  border-collapse: collapse;
}

table th {
  vertical-align: middle;
}

table td:last-child {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

table th, table td {
  width: 250px;
  padding: 10px 10px;
  text-align: center;
}

table section tr:nth-child(odd) {
  background: #CCC
}

table section tr:nth-child(even) {
  background: #FFF
}
