<div class="viewer" (click)="orderData()">
    <span (click)="viewer.toogle('grid')" class="material-icons click">grid_view</span>
    <span (click)="viewer.toogle('table')" class="material-icons click">table_view</span>
    <span (click)="viewer.toogle('chart')" class="material-icons click">pie_chart</span>
</div>
<div *ngIf="viewer.table || viewer.grid" class="left material-icons click" (click)="showNewProduct()">add_circle_outline</div>
<div *ngIf="error != ''" class="error">{{error}}</div>
<div *ngIf="viewer.table">
  <app-table [products]="products" (remove)="remove($event)"></app-table>
</div>
<div *ngIf="viewer.grid">
  <app-grid [products]="products" (remove)="remove($event)"></app-grid>
</div>
<div *ngIf="viewer.chart">
  <app-chart [products]="products"></app-chart>
</div>