table {
  border-collapse: collapse;
  margin-top: 50px;
}

table th {
  text-align: left;
  vertical-align: middle;
}

table td:last-child {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

th, td {
  width: 250px;
  padding: 10px 15px;
}

div.adder {
  padding: 10px 15px;
}

table section tr:nth-child(odd) {
  background: #CCC
}

table section tr:nth-child(even) {
  background: #FFF
}

@for $i from 1 through 130 {
  .w#{$i} {
   min-width: $i*10px !important;
   width: $i*10px !important;
   max-width: $i*10px !important;
  }
}
