.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin: 24px 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-container-width {
    width: 400px;
}