div.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

div.container > div:nth-child(3n) {
    margin-right: 0;
}

div.container > div:nth-child(odd) {
  background: #CCC
}

div.container > div:nth-child(even) {
  background: #FFF
}

div.container > div {
    width: 373px;
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px 10px 0;
    border-radius: 15px;
    position: relative;
}

div.container  > div  > div:first-child {
  font-weight: bold;
  font-size: 16px;
}

div.container  > div  > div:last-child {
  position: absolute;
  bottom: 5px;
  right: 5px;
}